<h2>Here the events you have created!</h2>
<% @user.created_events.each do |event| %>
    <div>Date: <%= event.date %></div>
    <div>Location: <%= event.location %></div>
    <br>
<% end %>


<p><%= link_to "<- Back to All events", events_path %></p>